In [271]:
# Importing Libraries
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup as bs

# Importing selenium webdriver 
from selenium import webdriver

# Importing Exceptions 
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

#Importing requests
import requests

# importing regex
import re

#importing the web driver
driver=webdriver.Edge(executable_path=r'C:\Users\satvi\OneDrive\Documents\msedgedriver.exe') 
time.sleep(4)

1. Scrape the details of most viewed videos on YouTube from Wikipedia:
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [390]:
#getting the url
url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
driver.get(url)
time.sleep(2)

In [391]:
rank=[]
try:
    ranks=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[1]")
    for i in ranks:
        rank.append(i.text)
except NoSuchElementException:
    rank.append('-')
except StaleElementReferenceException:
    rank.append('-')

In [392]:
#scraping names of the video
name=[]
try:
    names=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[2]")
    for i in names:
        name.append(i.text)
except NoSuchElementException:
    name.append('-')
except StaleElementReferenceException: 
     name.append('-')

In [393]:
author_name=[]
try:
    videoname=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]")
    for i in videoname:
        author_name.append(i.text)
except NoSuchElementException:
    author_name.append('No details available')
except StaleElementReferenceException:
    author_name.append('No details available')

In [394]:
upload_date=[]
try:
    date=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]")
    for i in date:
        upload_date.append(i.text)
except NoSuchElementException:
    upload_date.append('-')

In [395]:
views=[]
try:
    Views=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[5]")
    for i in Views:
        views.append(i.text)
except NoSuchElementException:
    views.append('-')

In [396]:
youtube_videos=pd.DataFrame({})
youtube_videos['Rank']=rank
youtube_videos['Name']=name
youtube_videos['Artist']=author_name
youtube_videos['Upload Date']=upload_date
youtube_videos['Views']=views
youtube_videos

,Rank,Name,Artist,Upload Date,Views
0,1.,"""Baby Shark Dance""[22]",Pinkfong Kids' Songs & Stories,9.06,"June 17, 2016"
1,2.,"""Despacito""[24]",Luis Fonsi,7.47,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[25]",LooLoo Kids,5.60,"October 8, 2016"
3,4.,"""Shape of You""[26]",Ed Sheeran,5.40,"January 30, 2017"
4,5.,"""See You Again""[27]",Wiz Khalifa,5.20,"April 6, 2015"
5,6.,"""Masha and the Bear – Recipe for Disaster""[30]",Get Movies,4.45,"January 31, 2012"
6,7.,"""Bath Song""[31]",Cocomelon – Nursery Rhymes,4.39,"May 2, 2018"
7,8.,"""Learning Colors – Colorful Eggs on a Farm""[32]",Miroshka TV,4.35,"February 27, 2018"
8,9.,"""Uptown Funk""[33]",Mark Ronson,4.25,"November 19, 2014"
9,10.,"""Gangnam Style""[34]",Psy,4.14,"July 15, 2012"
10,11.,"""Phonics Song with Two Words""[36]",ChuChu TV,4.04,"March 6, 2014"
11,12.,"""Sugar""[37]",Maroon 5,3.52,"January 14, 2015"
12,13.,"""Dame Tu Cosita""[38]",El Chombo,3.49,"April 5, 2018"
13,14.,"""Sorry""[39]",Justin Bieber,3.45,"October 22, 2015"
14,15.,"""Roar""[40]",Katy Perry,3.40,"September 5, 2013"
15,16.,"""Counting Stars""[41]",OneRepublic,3.35,"May 31, 2013"
16,17.,"""Thinking Out Loud""[42]",Ed Sheeran,3.30,"October 7, 2014"
17,18.,"""Wheels on the Bus""[43]",Cocomelon – Nursery Rhymes,3.20,"May 24, 2018"
18,19.,"""Dark Horse""[44]",Katy Perry,3.11,"February 20, 2014"
19,20.,"""Faded""[45]",Alan Walker,3.11,"December 3, 2015"
20,21.,"""Girls Like You""[46]",Maroon 5,3.08,"May 31, 2018"
21,22.,"""Shake It Off""[47]",Taylor Swift,3.08,"August 18, 2014"
22,23.,"""Lean On""[48]",Major Lazer,3.07,"March 22, 2015"
23,24.,"""Bailando""[49]",Enrique Iglesias,3.07,"April 11, 2014"
24,25.,"""Let Her Go""[50]",Passenger,3.04,"July 25, 2012"
25,26.,"""Mi Gente""[51]",J Balvin,2.95,"June 29, 2017"
26,27.,"""Perfect""[52]",Ed Sheeran,2.91,"November 9, 2017"
27,28.,"""Axel F""[53]",Crazy Frog,2.91,"June 16, 2009"
28,29.,"""Waka Waka (This Time for Africa)""[54]",Shakira,2.90,"June 4, 2010"
29,30.,"""Hello""[55]",Adele,2.86,"October 22, 2015"

2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [2]:
#Getting URL
url='https://www.bcci.tv/'
driver.get(url)
time.sleep(2)
#Getting International Fixture
International=driver.find_element_by_xpath('//div[@class="navigation__drop-down drop-down drop-down--reveal-on-hover"]')
International.click()
#Getting Fixtures
fixtures=driver.find_element_by_xpath('/html/body/footer/div/nav/ul/li[2]/ul/li[1]')
fixtures.click()

In [11]:
month=[]
try:
    Month=driver.find_elements_by_xpath('//h3[@class="event-list__date js-date"]')
    for i in Month:
        month.append(i.text)
except NoSuchElementException:
    month.append('-')
month

['August 2021', 'September 2021']

In [5]:
match_title=[]
try:
    title=driver.find_elements_by_xpath('//span[@class="u-unskewed-text fixture__tournament-label u-truncated"]')
    for i in title:
        match_title.append(i.text)
except NoSuchElementException:
    match_title.append('-')
match_title

['ENGLAND V INDIA 2021',
 'ENGLAND V INDIA 2021',
 'ENGLAND V INDIA 2021',
 'ENGLAND V INDIA 2021',
 'ENGLAND V INDIA 2021']

In [4]:
Series=[]
try:
    series=driver.find_elements_by_xpath('//strong[@class="fixture__name fixture__name--with-margin"]')
    for i in series:
        Series.append(i.text)
except NoSuchElementException:
    Series.append('-')
Series

['1st Test', '2nd Test', '3rd Test', '4th Test', '5th Test']

In [6]:
Place=[]
try:
    place=driver.find_elements_by_xpath('//p[@class="fixture__additional-info"]/span')
    for i in place:
        Place.append(i.text)
except NoSuchElementException:
    Place.append('-')
Place

['Trent Bridge, Nottingham',
 "Lord's, London",
 'Headingley, Leeds',
 'The Oval, London',
 'Old Trafford, Manchester']

In [8]:
Date=[]
try:
    date=driver.find_elements_by_xpath('//span[@class="fixture__date"]')
    for i in date:
        Date.append(i.text)
except NoSuchElementException:
    Date.append('-')
Date

['04', '12', '25', '02', '10']

In [10]:
Time=[]
try:
    time=driver.find_elements_by_xpath('//span[@class="fixture__time"]')
    for i in time:
        Time.append(i.text)
except NoSuchElementException:
    Time.append('-')
Time

['15:30 IST', '15:30 IST', '15:30 IST', '15:30 IST', '15:30 IST']

In [13]:
# Getting all in a DataFrame
Indias_international_fixtures=pd.DataFrame({})
Indias_international_fixtures['Match Title']=match_title
Indias_international_fixtures['Series']=Series
Indias_international_fixtures['Place']=Place
Indias_international_fixtures['Date']=Date
Indias_international_fixtures['Time']=Time
Indias_international_fixtures

            Match Title    Series                     Place Date       Time
0  ENGLAND V INDIA 2021  1st Test  Trent Bridge, Nottingham   04  15:30 IST
1  ENGLAND V INDIA 2021  2nd Test            Lord's, London   12  15:30 IST
2  ENGLAND V INDIA 2021  3rd Test         Headingley, Leeds   25  15:30 IST
3  ENGLAND V INDIA 2021  4th Test          The Oval, London   02  15:30 IST
4  ENGLAND V INDIA 2021  5th Test  Old Trafford, Manchester   10  15:30 IST

3. Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [56]:
url='https://www.guru99.com/'
driver.get(url)
time.sleep(2)
#Getting the title
selenium=driver.find_element_by_xpath('//*[@id="gsc-i-id2"]')
selenium.send_keys('Selenium Exception Handling (Common Exceptions List)')

In [57]:
#Searching button
button=driver.find_element_by_xpath('//*[@id="___gcse_1"]/div/div/form/table/tbody/tr/td[2]')
button.click()

In [58]:
#getting the selenium link
selenium=driver.find_element_by_xpath('//*[@id="gsc-i-id2"]')
selenium.send_keys('Selenium Exception Handling (Common Exceptions List)')

In [59]:
#Getting URL for the selenium exception handling 
common_exceptions=driver.find_element_by_xpath('//a[@class="gs-title"]')
href=common_exceptions.get_attribute('href')
href

'https://www.guru99.com/exception-handling-selenium.html'

In [60]:
#getting the url 
driver.get(href)

In [61]:
#Getting the names and description of exception handling list
name=[]
error_name=[]
error_description=[]
try:
    exception=driver.find_elements_by_tag_name('td')
    for i in exception:
        name.append(i.text)
except NoSuchElementException:
    name.append('-')
for i in range(0,len(name)-1,2):
    error_description.append(name[i])
    error_name.append(name[i+1])

In [64]:
# Getting all in a DataFrame
Exception_handling=pd.DataFrame({})
Exception_handling['Name']=error_name[4:-1][:41]
Exception_handling['Description']=error_description[5:][:41]
Exception_handling

,Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can't be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

4. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP at current price (19-20)
D) GSDP at current price (18-19)
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [304]:
#Getting Actual URl
url='http://statisticstimes.com/'
driver.get(url)
time.sleep(2)
#Getting Heading of Economy
economy=driver.find_element_by_xpath('//*[@id="top"]/div[2]/div[2]/button')
economy.click()
#Getting subtitle india
india=driver.find_element_by_xpath('//*[@id="top"]/div[2]/div[2]/div/a[3]')
url=india.get_attribute('href')
url

#Getting Url For India 
driver.get(url)
time.sleep(2)
#Getting india state GDP URL

GDP=driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
India_GDP=GDP.get_attribute('href')
India_GDP
#Getting URL of that
driver.get(India_GDP)

#getting Rank details
Rank=[]
try:
    rank=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[1]")
    for i in rank:
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append('-')

#Getting state details
state=[]
try:
    State=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[2]")
    for i in State:
        state.append(i.text)
except NoSuchElementException:
    state.append('-')
#GSDP 19-20    
GSDP_currentprice=[]
try:
    gsdp=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[3]")
    for i in gsdp:
        GSDP_currentprice.append(i.text)
except NoSuchElementException:
    GSDP_currentprice.append('-')
GSDP_currentprice
#Getting details of  GSDP Current price(18-19)
GSDP_currentprice18=[]
try:
    gsdp=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[4]")
    for i in gsdp:
        GSDP_currentprice18.append(i.text)
except NoSuchElementException:
    GSDP_currentprice18.append('-')

#Getting details of  share(18-19)
share=[]
try:
    Share=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[5]")
    for i in Share:
        share.append(i.text)
except NoSuchElementException:
    share.append('-')
#Getting GDP_billion
GDP_billion=[]
try:
    billion=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[6]")
    for i in billion:
        GDP_billion.append(i.text)
except NoSuchElementException:
    GDP_billion.append('-')
# Getting all in a DataFrame
statistics=pd.DataFrame({})
statistics['Rank']=Rank
statistics['State']=state
statistics['GSDP at current price (19-20)']=GSDP_currentprice
statistics['GSDP at current price (18-19)']=GSDP_currentprice18
statistics['Share(18-19)']=share 
statistics['GDP($ billion)']=GDP_billion
statistics

,Rank,State,GSDP at current price (19-20),GSDP at current price (18-19),Share(18-19),GDP($ billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

5. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used
ASSIGNMENT
Note: - From the home page you have to click on the trending option from Explore menu through code.

In [380]:
url='https://github.com/'
driver.get(url)

In [381]:
explore=driver.find_element_by_xpath('//button[@class="btn-link d-lg-none mt-1 js-details-target"]')
explore.click()

In [382]:
explore_click=driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary')
explore_click.click()

In [383]:
trending=driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul[2]/li[3]/a')
trending.click()

In [384]:
title=[]
try:
    repository=driver.find_elements_by_xpath('//h1[@class="h3 lh-condensed"]/a')
    for i in repository:
        title.append(i.text)
except NoSuchElementException:
    title.append('-')
title

['Satsuoni / widevine-l3-guesser',
 'freeCodeCamp / freeCodeCamp',
 'Tib3rius / AutoRecon',
 'iptv-org / iptv',
 'tokio-rs / axum',
 'donnemartin / system-design-primer',
 'godotengine / godot',
 'CleverRaven / Cataclysm-DDA',
 'github / docs',
 'freqtrade / freqtrade',
 'home-assistant / core',
 'apple / swift',
 'commaai / openpilot',
 'mitmproxy / mitmproxy',
 'SagerNet / SagerNet',
 'microsoft / ML-For-Beginners',
 'kunal-kushwaha / DSA-Bootcamp-Java',
 'langjam / langjam',
 'deepklarity / jupyter-text2code',
 'electron / electron',
 'unoplatform / uno',
 'apple / swift-algorithms',
 'microsoft / Web-Dev-For-Beginners',
 'Anuken / Mindustry',
 'telegramdesktop / tdesktop']

In [385]:
description=[]
try:
    repository=driver.find_elements_by_xpath('//p[@class="col-9 color-text-secondary my-1 pr-4"]')
    for i in repository:
        description.append(i.text)
except NoSuchElementException:
    description.append('-')
description

["freeCodeCamp.org's open-source codebase and curriculum. Learn to code for free.",
 'AutoRecon is a multi-threaded network reconnaissance tool which performs automated enumeration of services.',
 'Collection of publicly available IPTV channels from all over the world',
 'Ergonomic and modular web framework built with Tokio, Tower, and Hyper',
 'Learn how to design large-scale systems. Prep for the system design interview. Includes Anki flashcards.',
 'Godot Engine – Multi-platform 2D and 3D game engine',
 'Cataclysm - Dark Days Ahead. A turn-based survival game set in a post-apocalyptic world.',
 'The open-source repo for docs.github.com',
 'Free, open source crypto trading bot',
 '🏡 Open source home automation and energy management that puts local control and privacy first.',
 'The Swift Programming Language',
 'openpilot is an open source driver assistance system. openpilot performs the functions of Automated Lane Centering and Adaptive Cruise Control for over 100 supported car makes and models.',
 'An interactive TLS-capable intercepting HTTP proxy for penetration testers and software developers.',
 'The universal proxy toolchain for Android',
 '12 weeks, 25 lessons, 50 quizzes, classic Machine Learning for all',
 'This repository consists of the code samples, assignments, and the curriculum for the Community Classroom complete Data Structures & Algorithms Java bootcamp.',
 'A proof-of-concept jupyter extension which converts english queries into relevant python code',
 'Build cross-platform desktop apps with JavaScript, HTML, and CSS',
 'Build Mobile, Desktop and WebAssembly apps with C# and XAML. Today. Open source and professionally supported.',
 'Commonly used sequence and collection algorithms for Swift',
 '24 Lessons, 12 Weeks, Get Started as a Web Developer',
 'A sandbox tower defense game',
 'Telegram Desktop messaging app']

In [386]:
url=[]
try:
    contributors=driver.find_elements_by_xpath('//h1[@class="h3 lh-condensed"]/a')
    for i in contributors:
        url.append(i.get_attribute('href'))
except NoSuchElementException:
    url.append('-')
url

['https://github.com/Satsuoni/widevine-l3-guesser',
 'https://github.com/freeCodeCamp/freeCodeCamp',
 'https://github.com/Tib3rius/AutoRecon',
 'https://github.com/iptv-org/iptv',
 'https://github.com/tokio-rs/axum',
 'https://github.com/donnemartin/system-design-primer',
 'https://github.com/godotengine/godot',
 'https://github.com/CleverRaven/Cataclysm-DDA',
 'https://github.com/github/docs',
 'https://github.com/freqtrade/freqtrade',
 'https://github.com/home-assistant/core',
 'https://github.com/apple/swift',
 'https://github.com/commaai/openpilot',
 'https://github.com/mitmproxy/mitmproxy',
 'https://github.com/SagerNet/SagerNet',
 'https://github.com/microsoft/ML-For-Beginners',
 'https://github.com/kunal-kushwaha/DSA-Bootcamp-Java',
 'https://github.com/langjam/langjam',
 'https://github.com/deepklarity/jupyter-text2code',
 'https://github.com/electron/electron',
 'https://github.com/unoplatform/uno',
 'https://github.com/apple/swift-algorithms',
 'https://github.com/microsoft/Web-Dev-For-Beginners',
 'https://github.com/Anuken/Mindustry',
 'https://github.com/telegramdesktop/tdesktop']

In [389]:
count=[]
for i in url:
    driver.get(i)
    time.sleep(2)
    try:
        contributors=driver.find_elements_by_xpath('//*[@id="repo-content-pjax-container"]/div/div[2]/div[2]/div/div[4]/div/h2/a/span')
        for i in contributors:
            count.append(i.text)
    except NoSuchElementException:
        count.append('-')
count

['4,282',
 '9',
 '112',
 '1,453',
 '1,405',
 '24',
 '207',
 '347',
 '6',
 '6',
 '195k',
 '747',
 '79',
 '376',
 '140']

In [240]:
language=[]
try:
    used=driver.find_elements_by_xpath('//span[@class="d-inline-block ml-0 mr-3"]')
    for i in used:
        language.append(i.text)
except NoSuchElementException:
    language.append('-')
language

['C',
 'JavaScript',
 'Python',
 'JavaScript',
 'Rust',
 'Python',
 'C++',
 'C++',
 'JavaScript',
 'Python',
 'Python',
 'C++',
 'C++',
 'Python',
 'Kotlin',
 'Jupyter Notebook',
 'Jupyter Notebook',
 'C++',
 'C#',
 'Swift',
 'JavaScript',
 'Java',
 'C++']

6. Scrape the details of top 100 songs on billboard.com.
Url = https://www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [25]:
url='https://www.billboard.com/'
driver.get(url)
time.sleep(2)

In [26]:
#Clicking the bar
chart_button=driver.find_element_by_xpath('//body[@class="homepage load"]')
chart_button.click()

In [27]:
text_bar=driver.find_element_by_xpath('//*[@id="toggle-menu-action"]/span')
text_bar.click()
time.sleep(2)

In [28]:
#Charts
charts=driver.find_element_by_xpath('//a[@class="header__main-link header__main-link--charts"]')
href=charts.get_attribute('href')
driver.get(href)

In [29]:
Hot100=driver.find_element_by_xpath('//*[@id="topchartsChartPanel"]/a[1]/div/div[1]')
Hot100.click()

In [48]:
#name of the song
song_name=[]
try:
    name=driver.find_elements_by_xpath('//span[@class="chart-element__information__song text--truncate color--primary"]')
    for i in name:
        song_name.append(i.text)
except NoSuchElementException:
    song_name.append('-')
#Artist Name
artist_name=[]
try:
    artist=driver.find_elements_by_xpath('//span[@class="chart-element__information__artist text--truncate color--secondary"]')
    for i in artist:
        artist_name.append(i.text)
except NoSuchElementException:
    artist_name.append('-')
    
#Rank
last_week_rank=[]
try:
    lastweek=driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--last"]')
    for i in lastweek:
        last_week_rank.append(i.text)
except NoSuchElementException:
    last_week_rank.append('-')
last_week_rank    
    
#Peak_rank
peak_rank=[]
try:
    rank=driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--peak"]')
    for i in rank:
        peak_rank.append(i.text)
except NoSuchElementException:
    peak_rank.append('-')
#weeks on chart
week=[]
try:
    chart=driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--week"]')
    for i in chart:
        week.append(i.text)
except NoSuchElementException:
    week.append('-')

In [49]:
# Getting all in a DataFrame
Top100_songs=pd.DataFrame({})
Top100_songs['Song Name']=song_name
Top100_songs['Artist Name']=artist_name
Top100_songs[' Last Week Rank']=last_week_rank
Top100_songs['Peak Rank']=peak_rank
Top100_songs['Weeks On Chart']=week
Top100_songs

,Song Name,Artist Name,Last Week Rank,Peak Rank,Weeks On Chart
0,Butter,BTS,7,1,9
1,Good 4 U,Olivia Rodrigo,2,1,10
2,Levitating,Dua Lipa Featuring DaBaby,4,2,42
3,Stay,The Kid LAROI & Justin Bieber,3,3,2
4,Kiss Me More,Doja Cat Featuring SZA,5,3,15
...,...,...,...,...,...
95,Build A Bitch,Bella Poarch,84,56,10
96,30,Pop Smoke Featuring Bizzy Banks,-,97,1
97,You Should Probably Leave,Chris Stapleton,91,90,3
98,"Jealousy, Jealousy",Olivia Rodrigo,87,24,9
99,Cold Beer Calling My Name,Jameson Rodgers Featuring Luke Combs,95,95,3

7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and 
click on search. All this should be done through code

In [47]:
url='https://www.naukri.com/'
driver.get(url)
time.sleep(2)
#getting recuiters
recruiters=driver.find_element_by_xpath('//*[@id="root"]/div[1]/div/ul[1]/li[2]/a/div')
recruiters.click()
#getting url for recuiters
all_recruiters=driver.find_element_by_xpath('//*[@id="root"]/div[1]/div/ul[1]/li[2]/div/ul/li[1]/a')
href=all_recruiters.get_attribute('href')
#getting designation title
driver.get(href)
designation=driver.find_element_by_xpath('//input[@class="sugInp"]')
designation.send_keys('Data Science')
#searching
button=driver.find_element_by_xpath('//button[@class="fl qsbSrch blueBtn"]')
button.click()
#Getting Recruiters name
name=[]
try:
    Name=driver.find_elements_by_xpath('//span[@class="fl ellipsis"]')
    for i in Name:
        name.append(i.text)
except NoSuchElementException:
    name.append('-')
#Getting designations
designation=[]
try:
    role=driver.find_elements_by_xpath('//span[@class="ellipsis clr"]')
    for i in role:
        designation.append(i.text)
except NoSuchElementException:
    designation.append('-')
#Getting Company names
company=[]
try:
    Company=driver.find_elements_by_xpath('//a[@class="ellipsis"]')
    for i in Company:
        company.append(i.get_attribute('title'))
except NoSuchElementException:
    company.append('-')
company_name=[]
for i in range(0,len(company)-1,2):
    company_name.append(company[i+1])
company_name
#Company they hire for
role=[]
try:
    Role=driver.find_elements_by_xpath('//div[@class="hireSec highlightable"]')
    for i in Role:
        role.append(i.text)
except NoSuchElementException:
    role.append('-')
#location
location=[]
try:
    Location=driver.find_elements_by_xpath('//small[@class="ellipsis"]')
    for i in Location:
        location.append(i.text)
except NoSuchElementException:
    location.append('-')

    
# Getting all in a DataFrame
Data_science_recruiters=pd.DataFrame({})
Data_science_recruiters['Recruiter Name']=name[:48]
Data_science_recruiters['Recruiter Designation']=designation[:48]
Data_science_recruiters['Company']=company[:48]
Data_science_recruiters['Skills Required']=role[:48]
Data_science_recruiters['Location']=location[:48]
Data_science_recruiters

,Recruiter Name,Recruiter Designation,Company,Skills Required,Location
0,Aakash Harit,HR Manager,Aakash Harit,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Data Science Network,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,shravan Kumar Gaddam,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Shore Infotech India Pvt. Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,MARSIAN Technologies LLP,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,MARSIAN Technologies LLP,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,Anik Agrawal,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Enerlytics Software Solutions Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,subhas patel,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,LibraryXProject,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Kalpana Dumpala,Executive Hiring,Abhishek - Only Analytics Hiring - India and,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
11,Mubarak,Company HR,Apidel Technologies Division of Transpower,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
12,Kushal Rastogi,Company HR,Institute for Financial Management and Resear,"Office Administration, Hr Administration, tele...",Mumbai
13,Ruchi Dhote,Senior Executive Talent Acquisition,IFMR,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
14,Mahesh Babu Channa,HR Team Lead,Balu Ramesh,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
15,Kapil Devang,HR Manager,Techvantage Systems Pvt Ltd,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
16,Manisha Yadav,HR Executive,Asif Lucknowi,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
17,Riya Rajesh,Manager Talent Acquisition,Weupskill- Live Wire India,Data Science,Cochin
18,Rashmi Bhattacharjee,HR Head,InstaFinancials,"Corporate Sales, Software Development, Softwar...",Delhi
19,Faizan Kareem,HR MANAGER,CBL Data Science Private Limited,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
20,Rithika dadwal,HR Recruiter,Kalpana Dumpala,"Data Science, Machine Learning, Python, R, Dee...",Pune
21,Sandhya Khandagale,HR Recruiter,Innominds Software,"Big Data, Data Science, Artificial Intelligenc...",Pune
22,Shaun Rao,Manager Human Resources,Mubarak,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
23,Azahar Shaikh,Company Recruiter,MoneyTap,"Data Science, Artificial Intelligence, Machine...",Pune
24,Manas,Lead Talent acquisition,Kushal Rastogi,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
25,kumar,Proprietor,QuantMagnum Technologies Pvt. Ltd.,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
26,Sunil Vedula,CEO,Ruchi Dhote,"Signal Processing, Machine Learning, Neural Ne...",Delhi
27,Rajat Kumar,Founder CEO,Bristlecone India Ltd,"Web Technologies, Project Management, Software...",Bengaluru / Bangalore
28,Priya Khare,Senior Manager,Mahesh Babu Channa,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
29,Dhruv Dev Dubey,Company Recruitment Head,SocialPrachar.com,"Server Administartion, Verilog, Vhdl, Digital ...",Mysoru / Mysore
30,Jayanth N,Project Manager,Kapil Devang,"Data Analytics, Managed Services, Team Leading...",Bengaluru / Bangalore
31,Radha Manivasagam,HR Executive,BISP Solutions,"Python, Artificial Intelligence, Machine Learn...",Noida
32,Prateek Kumar,Head,Manisha Yadav,"Java, Python, Angularjs, Software Testing, Mac...",New Delhi
33,Amit Sharma,Consultant,Easi Tax,"Machine Learning, Artificial Intelligence, Dat...",Chennai
34,Kanan,senior technology instructor,Riya Rajesh,"C, C++, Artificial Intelligence, Python, Php, ...",Aligarh
35,Shashikant Chaudhary,HR Recruiter/HR Excutive,Novelworx Digital Solutions,"Relationship Management, Retail Sales, Private...",Salt Lake City
36,Brad,"Manager, Technical Recruiting",Rashmi Bhattacharjee,"Data Science, Software Engineering",Pune
37,Rutuja Pawar,Technical Recruiter,AXESTRACK SOFTWARE SOLUTIONS PRIVATE LIMITED,"Data Science, Big Data Analytics, Digital Mark...",Bengaluru / Bangalore
38,Madhusudhan Sridhar,Erp Implementer,Faizan Kareem,"Data Science, Recruitment, Salary",Mumbai
39,Ankit Sinha,Head Analytics,FirstTech Consaltants Pvt.Ltd,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Indore
40,Gaurav Chouhan,Chief Technical Officer,Rithika dadwal,"Software Development, Business Intelligence, B...",Bengaluru / Bangalore
41,Rashi Kacker,Sr Product Manager,Affine Analytics,"Data Science, Node.js, Angularjs",MYSORE
42,Ashwini,Director Global Delivery,Sandhya Khandagale,"Data Science, Media Marketing, Resource Planni...",Hyderabad / Secunderabad
43,Balaji Kolli,Co Founder,Compumatrice Multimedia Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Bengaluru / Bangalore
44,Rajani Nagaraj,HR Manager,Shaun Rao,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Mumbai
45,ROHIT Kumar,Architect,Exela Technologies,"Software Development, Core Java, Unit Testing,...",Noida
46,Amir Chowdhury,Managing Partner,Azahar Shaikh,"Machine Learning, Data Science, Product Manage...",Mumbai
47,Shailja Mishra,HR Manager,NEAL ANALYTICS SERVICES PVT LTD,"consulting, Education Counseling, Educational ...",Bengaluru / Bangalore

8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [356]:
# Opening the theguardian.com
url = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare"
driver.get(url)
time.sleep(2)

In [357]:
rank=[]
try:
    Rank=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[1]")
    for i in Rank:
        rank.append(i.text)
except NoSuchElementException:
    rank.append('-')

In [358]:
#scrapping book names
book_name=[]
try:
    names=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[2]")
    for i in names:
        book_name.append(i.text)
except NoSuchElementException:              #handling no such element exception
    book_name.append('No details available')
time.sleep(2)

In [359]:
author_name=[]
try:
    author=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[3]")
    for i in author:
        author_name.append(i.text)
except NoSuchElementException:
    author_name.append('-')

In [360]:
volumes_sold=[]
try:
    sold=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[4]")
    for i in sold:
        volumes_sold.append(i.text)
except NoSuchElementException:
    volumes_sold.append('-')

In [361]:
publisher=[]
try:
    book=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[5]")
    for i in book:
        publisher.append(i.text)
except NoSuchElementException:
    publisher.append('-')

In [362]:
genre=[]
try:
    type=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[6]")
    for i in type:
        genre.append(i.text)
except NoSuchElementException:
    genre.append('-')

In [363]:
# Getting all in a DataFrame
Novels=pd.DataFrame({})
Novels['Rank']=rank
Novels['Book Name']=book_name
Novels['Author Name']=author_name
Novels['Volumes Sales']=volumes_sold
Novels['Publisher']=publisher
Novels['Genre']=genre
Novels

,Rank,Book Name,Author Name,Volumes Sales,Publisher,Genre
0,1,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,2,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,3,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,4,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,5,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...,...
95,96,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,97,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,98,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,99,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,100,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

9. Scrape the details most watched tv series of all time from imdb.com.
 Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [77]:
#getting the url
url='https://www.imdb.com/list/ls095964455/'
driver.get(url)
time.sleep(2)
#Getting title of the show
Name=[]
try:
    title=driver.find_elements_by_xpath('//h3[@class="lister-item-header"]/a')
    for i in title:
        Name.append(i.text)
except NoSuchElementException:
    Name.append('-')
#Getting year span
year=[]
try:
    span=driver.find_elements_by_xpath('//span[@class="lister-item-year text-muted unbold"]')
    for i in span:
        year.append(i.text)
except NoSuchElementException:
    year.append('-')
#Getting Genre
genre=[]
try:
    Genre=driver.find_elements_by_xpath('//span[@class="genre"]')
    for i in Genre:
        genre.append(i.text)
except NoSuchElementException:
    genre.append('-')
#Getting Ratings
rating=[]
try:
    Rate=driver.find_elements_by_xpath('//div[@class="ipl-rating-star small"]/span')
    for i in Rate:
        rating.append(i.text)
except NoSuchElementException:
    rating.append('-')
Rating=[]
for i in range(0,len(rating)-1,2):
    Rating.append(rating[i+1])
#Getting Runtime details
runtime=[]
try:
    Run=driver.find_elements_by_name('nv')
    for i in Run:
        runtime.append(i.text)
except NoSuchElementException:
    runtime.append('-')
#getting votes
votes=[]
try:
    Votes=driver.find_elements_by_xpath('//span[@class="runtime"]')
    for i in Votes:
        votes.append(i.text)
except NoSuchElementException:
    votes.append('-')

# Getting all in a DataFrame
tv_series=pd.DataFrame({})
tv_series['Name']=Name[:100]
tv_series['Year Span']=year[:100]
tv_series['Genre']=genre[:100]
tv_series['Run Time']=runtime[:100]
tv_series['Ratings']=Rating[:100]
tv_series['Votes']=votes[:100]
tv_series

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama","1,845,677",9.2,57 min
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror","883,655",8.7,51 min
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller","884,545",8.2,44 min
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller","265,774",7.6,60 min
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi","226,679",7.6,43 min
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy","44,968",7.5,42 min
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama","55,660",7.8,50 min
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery","171,435",8,42 min
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama","35,510",7.1,45 min
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery","194,745",8.6,572 min

10. Details of Datasets from UCI machine learning repositories.
 Url = https://archive.ics.uci.edu/
 You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the Show All Dataset page through code

In [364]:
url='https://archive.ics.uci.edu/'
driver.get(url)
time.sleep(2)
#searching for dataset page
page=driver.find_element_by_name('q')
page.send_keys('Show All Dataset ')
#searching button
button=driver.find_element_by_name('sa')
button.click()
#UCI Machine learning repositories
dataset=driver.find_element_by_xpath('//h3[@class="LC20lb DKV0Md"]')
dataset.click()

In [365]:
#scraping dataset names
name=[]
try:
    names=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[1]/table/tbody/tr/td[2]/p/b/a")
    for i in names:
        name.append(i.text)
except NoSuchElementException:#handling no such element exception
    name.append('No details available')
time.sleep(2)

In [366]:
#scraping data type
data_type=[]
try:
    info=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]")
    for i in info:
         data_type.append(i.text)
except NoSuchElementException:
    data_type.append("No information")

In [367]:
task=[]
try:
    info=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]")
    for i in info:
         task.append(i.text)
except NoSuchElementException:
    task.append("No information")

In [368]:
attribute=[]
try:
    info=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]")
    for i in info:
         attribute.append(i.text)
except NoSuchElementException:
    attribute.append("No information")

In [369]:
no_of_instances=[]
try:
    info=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]")
    for i in info:
         no_of_instances.append(i.text)
except NoSuchElementException:
    no_of_instances.append("No information")

In [370]:
no_of_attribute=[]
try:
    info=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]")
    for i in info:
         no_of_attribute.append(i.text)
except NoSuchElementException:
    no_of_attribute.append("No information")

In [371]:
year=[]
try:
    info=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]")
    for i in info:
         year.append(i.text)
except NoSuchElementException:
    year.append("No information")

In [372]:
# Getting all in a DataFrame
Data_sets=pd.DataFrame({})
Data_sets['Dataset Name']=name
Data_sets['Data Type']=data_type[1:]
Data_sets['Task']=task[1:]
Data_sets['Attribute Type']=attribute[1:]
Data_sets['No of instances']=no_of_instances[1:]
Data_sets['No of Attributes']=no_of_attribute[1:]
Data_sets['Year']=year[1:]
Data_sets

,Dataset Name,Data Type,Task,Attribute Type,No of instances,No of Attributes,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
583,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
584,Gait Classification,Multivariate,Classification,Real,48,321,2020
585,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
586,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
587,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,2021